<h2 class="text-center text-primary">Change Password</h2>
<hr>
<form class="registerForm" #registerForm="ngForm" (ngSubmit)="changePassword()" autocomplete="off">
    <div class="container">

        <div class="form-group">
            <input type="text" class="form-control" name="oldPassword" [(ngModel)]="model.oldPassword"
                placeholder="Old Password">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="newPassword" [(ngModel)]="model.newPassword"
                placeholder="New Password">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="confirmNewPassword" [(ngModel)]="model.confirmNewPassword"
                placeholder="Confirm New Password">
        </div>
        <div class="form-group text-center">
            <button class="btn btn-success mr-2" type="submit">Submit</button>
            <button class="btn btn-success mr-2" (click)="cancel()" type="submit"
                style="background-color: darkred;">Cancel</button>
        </div>
    </div>
</form>