<form>
    <h2>UserSkills</h2>
    <div class="form-group">
        
      <div class="form-group col-md-4">
        <label for="inputSkill">SkillName</label>
        <input type="text" class="form-control" id="inputSkill" placeholder="Skill">
      </div>
      <div class="form-group col-md-4">
        <label for="inputDate">Date</label>
        <input type="date" class="form-control" id="inputDate">
      </div>
    
         

      <div class="form-group">
        <button class="btn btn-success mr-2" type="submit">Save</button>
        
        <button class="btn btn-success mr-2" type="button">Add</button>
          
    </div>

    
      
    </div>
    

  </form>